// --------------------------------------------------------------------
// BASIC VARIABLE (colors, fonts, font size)
//----------------------------------------------------------------------

// Colors
$background-primary-color: #21212b;

// Font configarations;
$primary-font-family: 'Neue Helvetica';

// Font size
$title-size: 30px;
