@tailwind base;
@tailwind utilities;
/*-------------------Start: Common Style------------------*/
html,
body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// body {
//     font-family: ;
//     font-weight: 400;
//     background-color: ;
//     color: $text-primary-color;
// }

// .container
.container {
    width: 100% !important;
    height: 100vh !important;
}
